.DS\_Store
.AppleDouble
.LSOverride
.\_\*
.metadata\_never\_index
.fseventsd
**pycache**/
\*.py\[cod]
\*\$py.class
.venv/
venv/
\*.log
\*.swp
\*.tmp
\*.bak
\*.txt
weights/
\*.pt
\*.pth
\*.ckpt
\*.pyc
.ipynb\_checkpoints/
temp
main.py
main.ipynb
models